body{
    background-color: whitesmoke;
    margin: 0px;
    font-family: sans-serif;
    font-size: 1.1em;
    background-image: url(./../image/plan.png);
    color: white;
}

.container{
    width: 50%;
   backdrop-filter: blur(10px);
    margin: auto;
    height: 100vh;
    border: none;
    box-shadow: 0px 0px 4px gray;
    border-radius: 15px;

}
.image{
    background-image: url(./../image/page.png);
    width: 100%;
    height: 500px;
    background-size: cover;
}
.star{
    width: 200px;
    margin: auto;
    padding: 10px;
    text-align: center;
    font-size: 1.5em;
     border: none;
    box-shadow: 0px 0px 4px gray;
    border-radius: 15px;
   

}
.star div{
    margin: 10px;
    
}



@media  (max-width: 700px) {
   .container{
    width: 100%;
   }
    .image{
    
    height: 200px;
   }
}